
::root {
	--home-width: max( 40%, 720px );
	--home-left: min( 30%, ( 100% - 720px ) / 2 );
}

/* used for page transition */
@keyframes fade_in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fade_out {
	from { opacity: 1; }
	to { opacity: 0; }
}
.fade-in {
	animation: fade_in 0.3s ease;
	opacity: 1;
}
.fade-out {
	animation: fade_out 0.3s ease;
	opacity: 0;
}

.shrink-vert {
    transform-origin: 50% 0%;
    transform: scale3d(1, 0, 1);
    transition: transform 0.3s ease-in-out;
}
.grow-vert {
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s ease-in-out;
}

@keyframes width-shrink {
	from { width: 100vw; left: 0; }
	to { width: var(--home-width); left:var(--home-left); }
}
@keyframes width-grow {
	from { width: var(--home-width); left: var(--home-left); }
	to { width: 100vw; left: 0; }
}
.shrink-hori {
    animation: width-shrink 0.3s ease;
}
.grow-hori {
    animation: width-grow 0.3s ease;
}

@keyframes fade_in_part {
	from { opacity: 0.2; }
	to { opacity: 1; }
}
@keyframes fade_out_part {
	from { opacity: 1; }
	to { opacity: 0.2; }
}
.fade-in-part {
	animation: fade_in_part 0.3s ease;
	opacity: 1;
}
.fade-out-part {
	animation: fade_out_part 0.3s ease;
	opacity: 0.2;
}

/* general style */
* {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

body {
	background-color: #eacba3;
}

a {
	text-decoration: none;
	outline: none;
}

#content {
	position: relative;
	display: block;
	opacity: 0;
}

#screen {
	position: relative;
	display: block;
}

#over-canvas {
	position: absolute;
	display: block;
/* 	overflow: visible; */
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

/* nav */
#nav {
	font-size: 38px;
	width: 100%;
	height: auto;
}

#nav-menu {
	position: relative;
	width: 40%;
	min-width: 720px;
	left: min( 30%, ( 100% - 720px ) / 2 );
	display: flex;
	justify-content: center;
/* 	background-image: linear-gradient( to bottom, rgba(136, 221, 247, 0.4), rgba(136, 221, 247, 0.6) ); */
	border-radius: 0 0 45px 45px;
}

.menu-link {
    font-family: 'Libre Baskerville', serif;
}

#nav-menu li {
	display: block;
	margin: 12px 24px 24px 24px;
}

#link-home {
	position: relative;
	width: var(--home-width);
	left: var(--home-left);
	font-size: 96px;
	padding: 12px 0 24px 0;
	display: block;
	text-align: center;
/* 	background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.6), rgba(136, 221, 247, 0.4) ); */
}

#link-home span {
    font-family: 'Oleo Script', cursive;
	margin: 0;
}

a {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: #000;
}

.link::before,
.link::after {
    position: absolute;
    background: currentColor;
    pointer-events: none;
    top: 100%;
}

#link-home a::before,
#link-home a::after {
    width: 80%;
    height: 3px;
    left: 10%;
}

.menu-link::before,
.menu-link::after {
    top: 100%;
    width: 100%;
    height: 2px;
    left: 0;
}

.link::before {
    content: '';
    /* show by default */
}

.link--metis::before {
    transform-origin: 50% 50%;
    transform: scale3d(0, 1, 1) translate3d( 0, 0, 0 );
    transition: transform 0.6s ease;
}

.link--metis:hover::before {
    transform-origin: 50% 50%;
    transform: scale3d(1, 1, 1) translate3d( 0, -3px, 0 );
    transition: transform 0.3s ease;
}

.link--io::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s ease-in-out;
}

.link--io:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: linear;
}

.link--io::after {
    content: '';
    top: calc(100% + 6px);
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s ease-in-out;
}

.link--io:hover::after {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: linear;
}

/* body style */
#main {
	width: 100vw;
	height: auto;

	font-family: 'Montserrat';
	font-size: 1.4em;
}

#main h1 {
	font-family: 'Noto Serif Display';
	font-size: 3em;
	text-align: center;
	margin-bottom: 2%;
}

.page-container {
	margin: 0 6%;
	font-family: 'Montserrat';
	opacity: 0;
	display: none;
}

@keyframes c_link_in { from { color: #000; } to { color: #444; } }
@keyframes c_link_out { from { color: #444; } to { color: #000; } }
#main a { animation: c_link_out 0.3s ease; color: #000; }
#main a:hover { animation: c_link_in 0.3s ease; color: #444; }

.align-hori {
	display: flex;
	justify-content: space-between;
/* 	see if there's anything else */
}

/* contact style */
#contact-list {
	list-style: none;
	margin-left: 4%;
	margin-right: 4%;
}

#contact-form {
	display: flex;
	flex-direction: column;
}

#contact-list li {
	margin: 16px 0;
	font-size: 1.4em;
}

#contact-form * {
	background: none;
	outline: none;
	font-family: 'Montserrat';
	font-size: 1.2em;
}

#contact-form li, #contact-form span {
	position: absolute;
	top: 0;
	left: 0;
}

#contact-form li, #contact-form span {
	position: absolute;
	top: 0;
	left: 0;
}

#contact-form span { pointer-events: none; }

.contact-fin {
    transform-origin: 0% 50%;
    transform: translate3d( 0, 0, 0 );
    transition: transform 0.4s ease;
}
.contact-fout {
    transform-origin: 0% 50%;
    transform: translate3d( -100%, 0, 0 );
    transition: transform 0.4s cubic-bezier(0.2, 0.9, 1, 1);
}

#contact-form .input {
	margin-top: 8px;
	margin-bottom: 8px;
	position: relative;
}

#contact-form li:focus {
	content: '';
}

/*#contact-list li span {
	display: inline-flex;
	justify-content: space-between;
	width: calc( 100% - 8px - 1.5em );
}*/

/*#contact-list li::before {
	display: inline;
	content: '';
/* 	padding-right: 8px;
}*/
